.Upload {
    position: absolute;
    display: none;
    justify-content: flex-end;
    top: 50%;
    transform: translate(-50.7%, -50%);
    width: 1440px;
    height: 900px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}

.Upload.active {
    display: flex;
}

.Upload .upload-container {
    width: 680px;
    height: 840px;
    padding: 20px;
    border-radius: 20px;
    background-color: #E5E5E5;
}

.Upload .upload-container .upload-close {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    line-height: 23px;
    color: #FF868E
}

.Upload h1 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.Upload p {
    text-align: center;
    font-size: 20px;
    color: #8C8C8C;
}

.Upload a {
    text-decoration: none;
    color: #FF868E;
}

.Upload label {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width: 640px;
    height: 340px;
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px dashed #FF868E;
    background-color: #fff;
   overflow: hidden;
}

.Upload label.error {
    border: 3px dashed #FF868E;
    background-color: #f1ccce;
}

.Upload label input {
    display: none;
}

.Upload label img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Upload label span {
    display: block;
    width: 640px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    color: #8C8C8C;
}

.Upload label span b {
    color: #1D1D1D;
    font-weight: 600;
}

.Upload .upload-photo {
    display: block;
    height: 40px;
    margin: 0 auto;
    background: #FF868E;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 0 30px;
    letter-spacing: 2px;
}

.Upload .upload-container .thanks-block {
    display: flex;
    height: 60px;
    width: 640px;
    padding: 0 20px;
    border-radius: 10px;
    color: #8C8C8C;
    font-size: 20px;
    line-height: 60px;
    background-color: #fff;
}

.Upload .upload-container .thanks-block::before {
    margin-top: 5px;
    margin-right: 10px;
    content: url(../../../public/images/gallery/ok.svg);
}

.Upload .upload-container .error-block {
    display: flex;
    height: 60px;
    width: 640px;
    padding: 0 20px;
    border-radius: 10px;
    color: #8C8C8C;
    font-size: 20px;
    line-height: 60px;
    background-color: #fff;
}

.Upload .upload-container .error-block::before {
    margin-top: 5px;
    margin-right: 10px;
    content: url(../../../public/images/gallery/error.svg);
}