.Search {
    width: 680px;
    height: 840px;
    position: relative;

    .choice-wrapper {
        position: relative;
        width: 680px;
        height: 770px;
        padding: 20px;
        margin-top: 10px;
        background-color: #fff;
        border-radius: 20px;

        .flex-wrapper-back {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                background: #FBE0DC;
                border-radius: 10px;
                &::after {
                    content: url(../../../public/images/voting/back.svg);
                    width: 12px;
                    height: 20px;
                }
            }

            .voting-lable {
                height: 40px;
                margin-left: 10px;
                background: #FF868E;
                border-radius: 10px;
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                padding: 0 30px;
                letter-spacing: 2px;
            }
        }
        .search-result {
            display: flex;
            margin-top: 20px;
            font-size: 18px;
            color: #8C8C8C;
            line-height: 30px;
            span {
                padding-left: 10px;
                color: #1D1D1D;
            }
        }
        .no-items {
            background-color: #E5E5E5;
            height: 60px;
            width: 640px;
            margin-top: 20px;
            line-height: 20px;
            padding: 20px;
            border-radius: 10px;
            color: #8C8C8C;
        }
        .container-grid {
            height: 620px;
            overflow: auto;
            margin-top: 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            .item {

                .grid-hover {
                    display: none;
    
                    div {
                        display: none;
                    }
                }
    
                &:hover {
                    .grid-hover {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        margin-top: auto;
                        height: 100%;
                        padding: 10px;
                        border-radius: 20px;
                        background-color: rgba(185, 93, 116, 0.5);
    
                        &:hover {
                            div {
                                display: block;
                                background-color: #fff;
                                width: 100%;
                                text-align: center;
                                border-radius: 10px;
                                line-height: 30px;
                                color: rgba(185, 93, 116, 0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}
